--- drivers/mtd/nand/Kconfig
+++ drivers/mtd/nand/Kconfig
@@ -1,3 +1,10 @@
+config MTD_NAND_IDS
+	tristate "Include chip ids for known NAND devices."
+	depends on MTD
+	help
+	  Useful for NAND drivers that do not use the NAND subsystem but
+	  still like to take advantage of the known chip information.
+
 config MTD_NAND_ECC
 	tristate
 
@@ -108,9 +115,6 @@ config MTD_NAND_OMAP_BCH
 config MTD_NAND_OMAP_BCH_BUILD
 	def_tristate MTD_NAND_OMAP2 && MTD_NAND_OMAP_BCH
 
-config MTD_NAND_IDS
-	tristate
-
 config MTD_NAND_RICOH
 	tristate "Ricoh xD card reader"
 	default n
@@ -527,7 +531,7 @@ config MTD_NAND_FSMC
 	  Flexible Static Memory Controller (FSMC)
 
 config MTD_NAND_XWAY
-	tristate "Support for NAND on Lantiq XWAY SoC"
+	bool "Support for NAND on Lantiq XWAY SoC"
 	depends on LANTIQ && SOC_TYPE_XWAY
 	select MTD_NAND_PLATFORM
 	help
@@ -546,4 +550,18 @@ config MTD_NAND_HISI504
 	help
 	  Enables support for NAND controller on Hisilicon SoC Hip04.
 
+config MTD_NAND_ROCKCHIP_V6
+	tristate "Support for NAND controller V6 on Rockchip SoC"
+	depends on ARCH_ROCKCHIP
+	help
+	  Enables support for NAND controller V6 on Rockchip SoC.
+
+config MTD_NAND_ROCKCHIP_V9
+	tristate "Support for NAND controller V9 on Rockchip SoC"
+	default n
+	depends on ARCH_ROCKCHIP
+	help
+	  Enables support for NAND controller V9 on Rockchip
+	  SoC(RK3326,RKPX30).
+
 endif # MTD_NAND
