--- drivers/hid/Kconfig
+++ drivers/hid/Kconfig
@@ -165,11 +165,11 @@ config HID_CHERRY
 	Support for Cherry Cymotion keyboard.
 
 config HID_CHICONY
-	tristate "Chicony Tactical pad"
+	tristate "Chicony devices"
 	depends on HID
 	default !EXPERT
 	---help---
-	Support for Chicony Tactical pad.
+	Support for Chicony Tactical pad and special keys on Chicony keyboards.
 
 config HID_CORSAIR
 	tristate "Corsair devices"
@@ -920,6 +920,20 @@ config HID_SENSOR_CUSTOM_SENSOR
 	  standard sensors.
 	  Select this config option for custom/generic sensor support.
 
+config HID_RKVR
+	tristate "RKVR device support"
+	depends on USB_HID
+	---help---
+	  Support for RKVR devices.
+	  Say Y here if you have a RKVR device.
+
+config HID_ALPS
+	tristate "ALPS device support"
+	depends on I2C_HID
+	---help---
+	  Support for ALPS devices.
+	  Say Y here if you have a ALPS device.
+
 endmenu
 
 endif # HID
