--- net/ipv4/Kconfig
+++ net/ipv4/Kconfig
@@ -354,6 +355,7 @@ config INET_ESP
 	select CRYPTO_CBC
 	select CRYPTO_SHA1
 	select CRYPTO_DES
+	select CRYPTO_ECHAINIV
 	---help---
 	  Support for IPsec ESP.
 
