--- drivers/media/usb/Kconfig
+++ drivers/media/usb/Kconfig
@@ -60,5 +60,11 @@ source "drivers/media/usb/hackrf/Kconfig"
 source "drivers/media/usb/msi2500/Kconfig"
 endif
 
+if MEDIA_CEC_SUPPORT
+	comment "USB HDMI CEC adapters"
+source "drivers/media/usb/pulse8-cec/Kconfig"
+source "drivers/media/usb/rainshadow-cec/Kconfig"
+endif
+
 endif #MEDIA_USB_SUPPORT
 endif #USB
